<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>university-cms</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><a href="/">Home Page.</a> You are logged as a <span th:text="${accountType}"></span></h1>
<h3>Welcome to <span th:text="${appName}"></span></h3>
<h3>Happy to see you again <span th:text="${loginName}"></span></h3>
<zoom class="zoom-text">
    <p><a href="/schedule">Get own schedule</a></p>
    <p><a href="/createStudent">Create new student;</a></p>
    <p>Add student to the course;</p>
    <p><a href="/groups">show students groups;</a></p>
    <p><a href="/students">Show students</a></p>
    <form method="get" action="/classmates">
        <label for="index"><p>View Student classmates.Enter student index:</p></label>
        <input type="text" id="index" name="index">
        <button type="submit">Search</button>
    </form>
</zoom>

<h3>Random Background Color for fun <button id="colorButton">Change color</button></h3>
<script>
    var button = document.getElementById('colorButton');
    button.addEventListener('click', function() {
        var red = Math.floor(Math.random() * 256);
        var green = Math.floor(Math.random() * 256);
        var blue = Math.floor(Math.random() * 256);
        var color = "rgb(" + red + "," + green + "," + blue + ")";
        document.body.style.backgroundColor = color;
    });
</script>


</body>
<script src="/script.js"></script>
</html>